@font-face {
    font-family: 'Verdana';
    src: url('mescss/Verdana.woff') format('woff');
    url('mescss/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Terminator';
    src: url('mescss/terminator real nfi.woff') format('woff'),
    url('mescss/terminator real nfi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 21px;
}

body>p {
    font-size: 14px;
    margin-bottom: 21px;
    margin-top: 21px;
}

img {
    width: 240px;
    height: 145px;
}



a:link {
   color: #038BDB;
}

h1,h2,h3,h4,.bandeau-navigation {
    font-family: Terminator, sans-serif;
    font-weight: normal;
}


footer>p {
    color: #CFCCCC;
}

h1 {
    font-size: 42px;
    line-height: 42px;
    margin-top: 42px;
    margin-bottom: 21px;
}

.centre>h1>a>span {
    font-style: normal;
    font-size: 42px;
}

h2 {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 21px;
    margin-top: 21px;
    color: #707070;
}

body>header>div.centre>h1>a {
    margin-bottom: 21px;
    color: #7B78DC;
}

.centre>h1>a>span {
    display: block;
    font-size: 100px;
    line-height: 90px;
    color: #29E61F;
}

h3, .bandeau-navigation>.centre>nav>ul {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 21px;
    margin-top: 42px;
    color: #8A9A8E;
}

.bandeau-navigation>.centre>nav>ul {
    margin-top: 15px;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.bandeau-navigation, footer {
    background-color: black;
    color: white;
}

.bandeau-navigation>.centre>nav>ul>li>a,.centre>.contact\.module-footer>address>p>a, .centre>.reseaux\.module-footer>ul>li>a, .centre>.glossaire\.module-footer>p>a  {
    color: #B5BDC2;
}

h4 {
   color: #038BDB;
}


