code {
    color: #038BDB;
}

img {
    height: auto;
}

.carousel,
header {
    margin: 0 20px;
}

.carousel {
    background-color: #038BDB;
    color: #CFCCCC;
    padding:20px 0;
    width: 150%;
}

.carousel-items {
    list-style: none;
    padding: 20px 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    font-size: 200%;
}

.carousel-item {
    flex: 1 0 700px;
}

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #707070;
}

::-webkit-scrollbar-thumb {
    background-color: #B1B87C;
}