
.carousel-items figcaption a {
    text-decoration: none;
    font-size: 80%;
    font-family: Verdana, sans-serif;
    color: #B1B87C;
}




code {
    color: #038BDB;
}

.carousel h3,
header {
    margin: 0 20px;
}

.carousel {
    background-color: #038BDB;
    color: #CFCCCC;
    padding:20px 0;
}

.carousel-items {
    list-style: none;
    padding: 20px 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}


