.bandeau-navigation>.centre>nav>h4 {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body>header>.centre>h1 {
    display: inline-block;
    position: relative;
}

/*body>header>.centre>h1::after {
    content: url("LOGOS/Composant%209%20–%201.png");
    position: absolute;
    bottom: 0;
    right: -125px;
}*/

body {
    background-color: #0e0c02;
    color: #CFCCCC;
    font-size: 2rem;
}

/*.bandeau-navigation {
    border-bottom:1em solid ;
    border-bottom-color: #e4e4e4 ;
}*/

.bandeau-navigation>.centre>nav {
    display: inline-block;
}

.bandeau-navigation>.centre>nav>ul>li {
    display: inline;
}

.bandeau-navigation>.centre>nav>ul>li>a {
    display: inline-block;
    margin-left: 15px;
}

a:hover  {
    background-color: #e4e4e4;
    color: #000;
}

/*.bandeau-navigation>.centre>.google {
    float: right;
    margin-top:15px ;
    margin-right: 100px;
}*/

/*.contact\.module-footer, .mentions-legales\.module-footer, .reseaux\.module-footer, .glossaire\.module-footer  {
    width: 200px;*/


.reseaux\.module-footer a[href^="#1"] {
    background-image: url("fb.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.reseaux\.module-footer a[href^="Facebook"] {
    background-image: url("fb.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.reseaux\.module-footer a[href^="Twitter"] {
    background-image: url("Emblème-Twitter.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 30px;
}

\.réseaux {
    display: inline;
}

body>header>.centre>h1:before {/* le pseudo élément ":after" de ce même h1 */
    content: url('Composant 9 – 1.png');/* en contenu, l'url de l'image */
    position: relative;/* Placé en position absolue */
    bottom: 0;
    font-size: 20px;
}

.mentions-footer {
    content: url('logo-mmi.png');
    width: 100px;
    height: 100px;
}

.bandeau-navigation .centre ul li a:nth-child(1n) {
    color: #B1B87C;
}

