@import url('https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');

@font-face {
    font-family: 'Verdana';
    src: url('mescss/Verdana.woff') format('woff');
    url('mescss/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Terminator';
    src: url('mescss/terminator real nfi.woff') format('woff'),
    url('terminator real nfi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.liste ul li a {
    color: #038BDB;
}

.fa {
    color: #038BDB;
}

p {
    font-family: Verdana, sans-serif;
    font-size: 30px;
    line-height: 80px;
    text-align: left;
    color: #CFCCCC;
}

blockquote p {
    font-style: italic;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    color: #0e0c02;
}
.auteur {
    width: 100%;
}

.cite {
    background-color: #7B78DC;
}

caption {
    text-align: left;
}

table {
    border-collapse: collapse;
    border: 5px solid #B1B87C;
    font-family: Terminator, sans-serif;
    font-size: 150%;
}

td,
th {
    border: 1px solid #B1B87C;
    padding: 7px 5px;
}

th {
    background-color: #B1B87C;
    color: #0e0c02;
}

td {
    text-align: center;
    background-color: #0e0c02;
}

td a {
    color: #B1B87C;
}

body>p {
    font-size: 20px;
    margin-bottom: 21px;
    margin-top: 21px;
}

body {
    padding-left: 20px;
}

body>header>div.centre>h1>a {
     color: #7B78DC;
     font-size: 28px;
     width: 200px;
 }

body header .centre h1 {
    width: 300px;
}

.auteur {
    margin-top: 0;
}

a:link {
   color: #038BDB;
}

a {
     color: blue;
     text-decoration: none;
     font-weight: bold;
 }

.externes a {
    color: #B1B87C;
    font-family: Verdana, sans-serif;

}

.externes figcaption {
    font-size: 150%;
    width: 500px;
    background-color: #0e0c02;
}

.liste ul li a {
     font-size: 50%;
 }

h1,h2,h3,h4,.bandeau-navigation {
    font-family: Terminator, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 42px;
    line-height: 42px;
    margin-top: 42px;
    margin-bottom: 21px;
}


h2 {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 21px;
    margin-top: 21px;
    color: #707070;
}

h3 {
    font-size: 30px;
    line-height: 21px;
    margin-bottom: 21px;
    margin-top: 42px;
    color: #8A9A8E;
}

h4 {
     color: #B1B87C;
    font-size: 120%;
 }

.centreaccueil h4 {
    font-size: 95%;
}

.centreaccueil h1 {
    color: #B1B87C;
    -webkit-text-stroke: 3px #0e0c02;
}

.deapropos h4 {
    font-size: 150%;
}

.deapropos .text a , .externes a {
    font-size: 200%;
}

.deapropos main p {
    font-family: Verdana, sans-serif;
    font-style: italic;
}

.deapropos .internes li {
    font-size: 150%;
}

.retour {
    text-align: center;
}

.text ul li a {
    font-family: Verdana, sans-serif;
    font-size: 150%;
}

.bandeau-navigation ul li a {
    font-size: 30px;
}

.bandeau-navigation {
    color: white;
}

.bandeau-navigation>.nav>nav>ul>li>a  {
    color: #B1B87C;
    text-align: center;
}

footer>p {
    color: #CFCCCC;
}

footer p {
    font-size: 70%;
}

.left ul li a {
    font-family: Verdana, sans-serif;
}

.internes ul li a {
    color: #B1B87C;
}

.text {
    color: #038BDB;
}

.vid h4 {
    font-family: Terminator, sans-serif;
    color: #29E61F;
}

.vid video {
    width: 80%;
    height: 80%;
}

