@import url('https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');

@font-face {
    font-family: 'Verdana';
    src: url('mescss/font/Verdana.woff') format('woff');
    url('mescss/font/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Terminator';
    src: url('mescss/font/terminator real nfi.woff') format('woff'),
    url('font/terminator real nfi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-left: 20px;
}

body header .centre h1 a {
     color: #7B78DC;
     font-size: 28px;
     width: 200px;
 }

body header .centre h1 {
    width: 300px;
}


a:link {
   color: #038BDB;
}

a:visited {
    color: #7B78DC;
}

a {
     color: blue;
     text-decoration: none;
     font-weight: bold;
}

.auteur {
    color: #8A9A8E;
    font-family: Verdana, sans-serif;
}

.auteur {
    margin-top: 0;
    width: 150%;
}

.externes a {
    color: #B1B87C;
    font-family: Verdana, sans-serif;

}

.externes figcaption {
    font-size: 150%;
    width: 500px;
    background-color: #0e0c02;
}

h1,h2,h3,h4,.bandeau-navigation {
    font-family: Terminator, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 150%;
    line-height: 82px;
    margin-top: 42px;
    margin-bottom: 21px;
    padding-left: 200px;
}

h2 {
    font-size: 150%;
    line-height: 42px;
    margin-bottom: 21px;
    margin-top: 21px;
    color: #707070;
}

h3 {
    font-size: 30px;
    line-height: 21px;
    margin-bottom: 21px;
    margin-top: 42px;
    color: #8A9A8E;
}

h4 {
     color: #B1B87C;
    font-size: 160%;
 }

.centreaccueil {
    padding-left: 80px;
}

.centreaccueil h4 {
    font-size: 150%;
}

.centreaccueil h2 {
    line-height: 80px;
    position: center;
    display: inline-block;
    padding-left: 375px;
    color: #B1B87C;
    font-size: 95%;
}

.deapropos h3 {
    text-align: center;
    padding-left: 40%;
}

.deapropos h4 {
    font-size: 200%;
}

.deapropos .text a , .externes a {
    font-size: 200%;
}

.deapropos main p {
    font-family: Verdana, sans-serif;
    font-style: italic;
}

.deapropos .internes li {
    font-size: 150%;
}

.deapropos h3 {
    color: #B1B87C;
    font-size: 150%;
    line-height: 100px;
}

.bandeau-navigation {
    color: white;
}

.bandeau-navigation  p a {
    font-family: 'Terminator', sans-serif;
    color: #B1B87C;
    text-align: center;
    padding-left: 300px;
    display: inline;
    border: 2px #7B78DC;
    font-size: 50px;
}

.bandeau-navigation>.nav>nav>h4 {
    display: none;
}

.texte {
    font-size: 70%;
}

.text {
    color: #038BDB;
}

.vid h4 {
    font-family: Terminator, sans-serif;
    color: #29E61F;
}

.vid video {
    width: 80%;
    height: 80%;
}

.liste ul li a {
    font-size: 50%;
}

.liste ul .films a{
    color: #038BDB;
    font-size: 35pt;
    height: 50px;
    width: 100px;
}

.prologue {
    color: #B1B87C;
    -webkit-text-stroke: 3px #0e0c02;
    padding-left: 250px;
    font-size: 200%;
}

.retour {
    text-align: center;
    font-size: 200%;
    padding-left: 50%;
}

.artun {
    padding-left: 500px;
}

.le {
    padding-left: 300px;
}

.text ul li a {
    font-family: Verdana, sans-serif;
    font-size: 150%;
}

footer p {
    font-size: 90%;
    color: #CFCCCC;
}

.left ul li a {
    font-family: Verdana, sans-serif;
}

.internes ul li a {
    color: #B1B87C;
}

strong {
    color: #B1B87C;
}

p {
    font-family: Verdana, sans-serif;
    font-size: 140%;
    line-height: 120px;
    text-align: left;
    color: #CFCCCC;
    width: 130%;
}

blockquote p {
    font-style: italic;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    color: #8A9A8E;
}

caption {
    text-align: left;
}

.fa {
    color: #038BDB;
    font-size: 200%;
    display: table-cell;
    padding: 30%;
}





